*{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    padding: 30px;
    max-width: 1024px;
    margin: auto;
    padding: auto;
}
header{
    background-image: url(assets/Layer20.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:550px;
    width:100%;
}

.main{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 30px;
}
.main img{
    padding: 10px;
}
.main p{
    text-align: center;
}
.main a{
    text-decoration: none;
}
.footer{
    background-color: #4C4C4C;
    width:100%;
}
